<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185382636935-e66dgsqo84qe06hha6de92sa180m5jgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185382636935-e66dgsqo84qe06hha6de92sa180m5jgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBVwWU3vW3pmlyPC212a2AHZPLzapPOpL4</string>
	<key>GCM_SENDER_ID</key>
	<string>185382636935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyProject</string>
	<key>PROJECT_ID</key>
	<string>independentcoffeeshops</string>
	<key>STORAGE_BUCKET</key>
	<string>independentcoffeeshops.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185382636935:ios:8d3d61a6c97ebbdcf75722</string>
</dict>
</plist>